#### Import all necessary libraries

In [1]:
import pandas as pd
import random
import re

from datetime import datetime, timedelta
from typing import List, Dict

from faker import Faker

#### Define a function to generate line items for an order

In [2]:

def generate_line_items_for_order(
    order_number: str,
    order_date: datetime,
    billing_name: str,
    payment_method: str,
    payment_reference: str,
    products: List[str],
    customer_lookup: Dict[str, dict],
    product_lookup: Dict[str, dict],
) -> List[Dict]:

    records = []
    
    payment_date = order_date + timedelta(days=random.uniform(0, 1))
    fulfillment_date = order_date + timedelta(days=random.uniform(1, 2))

    for _ in range(random.randint(1, 3)):
        product_name = random.choice(products)

        record = {
            "order_number": order_number,
            "order_date": order_date,
            "billing_name": billing_name,
            "lineitem_name": product_name,
            "lineitem_qty": random.randint(1, 3),
            "payment_method": payment_method,
            "payment_reference": payment_reference,
            "payment_date": payment_date,
            "fulfillment_date": fulfillment_date,
        }

        # Merge customer and product details
        record.update(customer_lookup.get(billing_name, {}))
        record.update(product_lookup.get(product_name, {}))

        records.append(record)

    return records

#### Define helper functions

In [3]:
def dataframe_to_lookup(
    df: pd.DataFrame,
    key_col: str,
    exclude: list[str] | None = None,
):
    exclude = set(exclude or []) | {key_col}

    return {
        row[key_col]: {k: v for k, v in row.items() if k not in exclude}
        for _, row in df.iterrows()
    }


def snake_case_formatting(s: str) -> str:
    s = re.sub(r"[^\w\s]", "", s)  # remove punctuation
    s = re.sub(r"\s+", "_", s)     # replace spaces with underscore
    return s.lower()

#### Define a function to generate orders

In [4]:
def generate_orders(
    customers_df: pd.DataFrame,
    products_df: pd.DataFrame,
    num_orders: int,
    number_of_days: int,
    payment_methods: list[str] | None = None,
) -> pd.DataFrame:

    if payment_methods is None:
        payment_methods = [
            "PayPal",
            "Digital Wallet",
            "Cash on Delivery",
            "Bank Transfer",
        ]

    customers = customers_df["Full Name"].tolist()
    products = products_df["Title"].tolist()

    # Reference numbers generator
    random_number = lambda: f"#{random.randint(100_000_000_000, 999_999_999_999)}"

    # Fast lookups
    customer_lookup = dataframe_to_lookup(customers_df, "Full Name")
    product_lookup = dataframe_to_lookup(products_df, "Title")

    data = []

    for _ in range(num_orders):
        order_number = random_number()
        order_date =  datetime.now() - timedelta(days=random.randint(0, number_of_days))
        billing_name = random.choice(customers)
        payment_method = random.choice(payment_methods)
        payment_reference = random_number()

        data.extend(
            generate_line_items_for_order(
                order_number,
                order_date,
                billing_name,
                payment_method,
                payment_reference,
                products,
                customer_lookup,
                product_lookup,
            )
        )

    df = pd.DataFrame(data)
    df.columns = [snake_case_formatting(col) for col in df.columns]

    return df

In [5]:
# Read customers csv to pandas dataframe
customers_df = pd.read_csv("dataset/fake_customers.csv")
customers_df.head()

,First Name,Last Name,Full Name,Email,Address Company,Address City,Address Province,Address Zip,Phone
0,Paul,Wagner,Paul Wagner,wagner.paul@gmail.com,"2305 Caballero Street, Dao Cove 4",Tangub,Misamis Occidental,7214,+63 9845139651
1,Brandon,Mcdonald,Brandon Mcdonald,mcdonald.brandon@gmail.com,"8713 White Street, Banaba Subdivision Phase 4",Tangub,Misamis Occidental,7214,+63 9266894048
2,Elizabeth,Sawyer,Elizabeth Sawyer,sawyer.elizabeth@gmail.com,"8280 Kanlaon Drive, Richards Village Phase 5",Ozamiz,Misamis Occidental,7207,+63 9353351153
3,Brittany,Smith,Brittany Smith,smith.brittany@gmail.com,1470 87th Drive Extension,Oroquieta,Misamis Occidental,7200,+63 9414048999
4,Christina,Gonzalez,Christina Gonzalez,gonzalez.christina@gmail.com,"Unit 333 Hanna Suites Tower 8, 2849 Sampaguita...",Tangub,Misamis Occidental,7214,+63 9171273413

In [6]:
# Read products csv to pandas dataframe
products_df = pd.read_csv("dataset/fake_products.csv")
products_df.head()

,Product SKU,Title,Product Description,Vendor,Product Category,Unit Price,Image Src
0,TOY500,Mega Construx Pokemon Buildable Figures Gift Set,Build the power that inside! The path to becom...,POKEMON,Building & Model Sets,33.55,https://cdn.shopify.com/s/files/1/0731/4400/88...
1,TOY499,Mega Construx Pokemon Rowlet vs. Eevee,Create action-packed battles with your favorit...,POKEMON,Building & Model Sets,14.99,https://cdn.shopify.com/s/files/1/0731/4400/88...
2,TOY498,Limited Edition SDCC 2018 GengarvMega Construx...,This limited-edition special figure for San Di...,POKEMON,Building & Model Sets,40.00,https://cdn.shopify.com/s/files/1/0731/4400/88...
3,TOY497,Mega Construx Pokemon Buildable Figures and En...,Pokemon trainers can practice their attacks wi...,POKEMON,Building & Model Sets,23.98,https://cdn.shopify.com/s/files/1/0731/4400/88...
4,TOY496,Mega Construx Pokemon Squirtle vs. Charmander,Create classic battles with your favorite Poke...,POKEMON,Building & Model Sets,14.99,https://cdn.shopify.com/s/files/1/0731/4400/88...

In [7]:
# Create an instace of faker
fake = Faker('en_PH')

# Define inclusive dates
start_date = datetime(2025, 12, 1)
end_date = datetime(2025, 12, 19)


# Calculate the number of days (inclusive)
number_of_days = (end_date - start_date).days + 1

# Calculate the total orders assuming 800 orders per day average
number_of_orders = number_of_days*800

print(f"Number of inclusive days: {number_of_days} days")
print(f"Total number of orders: {number_of_orders} orders")

Number of inclusive days: 19 days
Total number of orders: 15200 orders

In [8]:
# Generate fake orders
orders_df = generate_orders(
    customers_df,
    products_df,
    number_of_orders,
    number_of_days,
)

In [9]:
orders_df.head()

,order_number,order_date,billing_name,lineitem_name,lineitem_qty,payment_method,payment_reference,payment_date,fulfillment_date,first_name,...,address_city,address_province,address_zip,phone,product_sku,product_description,vendor,product_category,unit_price,image_src
0,#946557741698,2025-12-07 12:12:16.402296,Derek Marshall,Dragon Ball Z Vegeta Action Figure,1,PayPal,#320695911457,2025-12-08 01:01:44.162417,2025-12-09 09:13:56.370595,Derek,...,Tangub,Misamis Occidental,7214,+63 9556261843,TOY144,Dragon Ball Z Vegeta Action Figure,DRAGON BALL,Action & Roleplay Toys,13.99,https://cdn.shopify.com/s/files/1/0731/4400/88...
1,#946557741698,2025-12-07 12:12:16.402296,Derek Marshall,Jurassic World RC Vehicle Raptor Attack RC,3,PayPal,#320695911457,2025-12-07 18:19:08.748425,2025-12-09 01:02:21.989678,Derek,...,Tangub,Misamis Occidental,7214,+63 9556261843,TOY198,"Inspired by the Jurassic World movies, this la...",MATCHBOX,Vehicles & Playsets,49.99,https://cdn.shopify.com/s/files/1/0731/4400/88...
2,#600225563939,2025-12-05 12:12:16.402369,Daniel Ray,VTech Baby Little Singing Cora,3,PayPal,#717827273830,2025-12-05 14:29:08.581451,2025-12-06 15:56:04.869233,Daniel,...,Ozamiz,Misamis Occidental,7207,+63 9164536611,TOY86,Cuddle &amp; Sing Cora by VTech is a cute plus...,VTECH,Dolls & Fashion Playsets,18.99,https://cdn.shopify.com/s/files/1/0731/4400/88...
3,#600225563939,2025-12-05 12:12:16.402369,Daniel Ray,My Little Pony Classic Doll Apple Jack,2,PayPal,#717827273830,2025-12-05 18:45:54.136984,2025-12-06 18:09:14.467547,Daniel,...,Ozamiz,Misamis Occidental,7207,+63 9164536611,TOY225,Recommended for ages 5 years and upMade of Pla...,MY LITTLE PONY,Dolls & Fashion Playsets,13.99,https://cdn.shopify.com/s/files/1/0731/4400/88...
4,#600225563939,2025-12-05 12:12:16.402369,Daniel Ray,Monster High Lagoona Blue Doll,1,PayPal,#717827273830,2025-12-06 10:10:52.467893,2025-12-06 17:03:41.892586,Daniel,...,Ozamiz,Misamis Occidental,7207,+63 9164536611,TOY400,The Monster High dolls are ready to soak up fu...,MONSTER HIGH,Dolls & Fashion Playsets,4.99,https://cdn.shopify.com/s/files/1/0731/4400/88...

In [10]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)